/* src/styles/CreatePrivateChat.css */

.create-private-chat-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.create-private-chat-container h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.error {
    color: red;
    text-align: center;
}

.create-chat-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-chat-form label {
    margin-bottom: 15px;
    color: #333;
}

.user-selec {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
    background-color: #0056b3;
}
