.feed-container {
  display: flex;
  justify-content: space-between;/* Changed from space-between to space-around for even spacing */
  align-items: flex-start;
  padding-top: 120px;
  min-height: calc(100vh - 120px);
  padding-bottom: 100px;
  gap: 1px; /* Adds a gap between children elements */
}

.feed-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(70% - 10px);
  flex: 1;
}

.language-proportions-chart {
  width: calc(30% - 10px); /* Adjusted width to account for the gap */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6); 
  border: 1px solid #ddd;
  flex: 0 1 30%;
}

/* Enhancements for the filter container */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1; /* New border color for a cleaner look */
}

/* Rest of the styles remain unchanged */
