
.MainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 1rem;
    background-color: #f0f0f0;
    flex-grow: 1;
    min-height: calc(100vh - 100px);
    align-items: flex-start;
    margin-bottom: 80px; 
    margin-top: 70px;
  }

  @media (max-width: 768px) {
    .MainContent {
      justify-content: space-around; 
      padding: 0.5rem; 
    }
  }
 