.resource-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: auto; 
  min-height: calc(100vh - 120px);
  margin-bottom: 100px;
}

.resource-list {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  padding: 20px; 
  max-width: 1200px;
  width: 500px; 
  margin: 0 auto; 
}

.resource-list-loading {
  text-align: center;
  padding: 2rem;
}



@media (max-width: 768px) {
  .resource-list {
    width: 90%; 
    padding: 10px; 
  }
}